/* CORE STYLES */
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: #333;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center; }
  body h1, body h2, body h3 {
    margin: 0;
    padding: 1em 0; }
  body #intro-title {
    position: relative;
    top: 8em; }
  body #intro-para {
    position: relative;
    top: 13em; }
  body a {
    text-decoration: none;
    color: rgba(70, 58, 58, 0.658);
    font-weight: 1000; }
  body #pulse {
    position: relative;
    display: inline-block;
    top: 50em;
    width: 100px;
    height: 100px;
    background: #ff6d4a;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 100px;
    font-family: sans-serif;
    text-transform: uppercase;
    animation: animate 3s linear infinite; }
@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.7), 0 0 0 0 rgba(255, 109, 74, 0.7); }
  40% {
    box-shadow: 0 0 0 30px rgba(255, 109, 74, 0), 0 0 0 0 rgba(255, 109, 74, 0.7); }
  80% {
    box-shadow: 0 0 0 30px rgba(255, 109, 74, 0), 0 0 0 20px rgba(255, 109, 74, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 20px rgba(255, 109, 74, 0); } }
  body img {
    display: block;
    width: 100%;
    height: auto; }
  body #showcase {
    min-height: 54em;
    color: #fff;
    text-align: center; }
    body #showcase .bg-image {
      position: absolute;
      background: #333 url("../img/drkmountain.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 54em;
      z-index: -1; }
  body #intro, body .content-wrap {
    background: #f5f5f5;
    color: #333;
    padding: 0 1.5em 1.5em; }
  body #portfolio {
    padding: 2em 1em 1em; }
    body #portfolio ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      body #portfolio ul li {
        margin-bottom: 1em;
        background: #fff;
        color: #333; }
        body #portfolio ul li .card-content {
          padding: 1.5em; }
  body #experience {
    background: #fff;
    color: #333;
    padding: 3em; }
  body .owl-item {
    display: inline-block; }
  body .font-icon {
    font-size: 100px; }
  body .owl-carousel .owl-nav button.owl-next,
  body .owl-carousel .owl-nav button.owl-prev,
  body .owl-carousel button.owl-dot {
    font-size: 90px; }
  body #contact .box {
    padding: 0em;
    color: #fff;
    background: #ff6d4a; }
  body #contact .box:first-child {
    background: #ff6d4a; }
  body #contact .icon {
    margin: auto;
    width: 60%;
    padding-bottom: 40px; }
    body #contact .icon .fa-cloud-download-alt,
    body #contact .icon .fa-envelope,
    body #contact .icon .fa-linkedin {
      color: white; }
  @media (max-width: 700px) {
    body nav {
      display: none; } }
  @media (min-width: 700px) {
    body nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      padding: 10px 100px;
      box-sizing: border-box;
      transition: .3s;
      z-index: 1; }
    body nav.black {
      background: rgba(0, 0, 0, 0.9);
      height: 100px;
      padding: 10px 100px;
      margin-top: -6em; }
    body nav .logo {
      padding: 22px 20px;
      height: 80px;
      float: left;
      font-size: 24px;
      transition: .3s; }
    body nav.black .logo {
      color: #fff; }
    body nav ul {
      list-style: none;
      float: right;
      margin: 0;
      padding: 0;
      display: flex; }
    body nav ul li {
      list-style: none; }
    body nav ul li a {
      line-height: 80px;
      color: #c3c3c3;
      padding: 12px 30px;
      text-decoration: none;
      text-transform: uppercase;
      transition: .3s; }
    body nav.black ul li a {
      color: #fff; }
    body nav ul li a:focus {
      outline: none; }
    body nav ul li a.active {
      background: #E2472F;
      color: #fff;
      border-radius: 6px; }
    body #intro-title {
      position: relative;
      top: 10em;
      grid-row: 1/2;
      grid-column: 2/4;
      letter-spacing: 30px;
      height: 43px;
      padding-top: 2px;
      padding-bottom: 12px; }
    body #intro-para {
      position: relative;
      height: 48px;
      grid-row: 1/2;
      grid-column: 2/4;
      letter-spacing: 10px;
      font-size: 32px; }
    body #box-pulse {
      position: relative;
      grid-row: 4/5;
      grid-column: 2/4;
      bottom: 23em; }
    body .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr; }
      body .grid #intro .content-text {
        columns: 2;
        column-gap: 2em; }
        body .grid #intro .content-text p {
          padding-top: 0; }
    body #portfolio-grid {
      display: grid; }
    body .content-wrap, body #portfolio-wrap, body #portfolio ul {
      grid-column: 2/4; }
    body #portfolio ul {
      display: flex;
      justify-content: space-around; }
      body #portfolio ul li {
        width: 31%; }
    body .box, body #main-footer div {
      grid-column: span 2; } }
  body .icon {
    margin: auto;
    width: 60%;
    padding: 70px 0; }
    body .icon .fa-cloud-download-alt,
    body .icon .fa-envelope,
    body .icon .fa-linkedin {
      color: white; }

/*# sourceMappingURL=input.css.map */
